@using MovieClient.Models
@model UserModel

@{
    var isLoggedIn = TempData["IsLoggedIn"];
    TempData.Keep("IsLoggedIn");

    if (isLoggedIn != null)
    {
        var name = isLoggedIn.ToString().Split(',').ElementAt(0);
        var id = int.Parse(isLoggedIn.ToString().Split(',').ElementAt(1));
        <p>You are logged in as @name</p>

        if (TempData["RatingMsg"] != null)
        {
            <h1>@TempData["RatingMsg"].ToString()</h1>
        }

        <div class="container">
            <form name="UserModel" method="POST" action="/Home/Logout">
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Log Out</button>
                    </div>
                </div>
            </form>
        </div>
    }
    else
    {
        var LoginMsg = TempData["LogginMessage"];
        <h3>@LoginMsg</h3>
        <h2>Please enter your Username and Password</h2>

        <div class="container">
            <form name="UserModel" method="POST" action="/Home/Login">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" placeholder="Username" name="UserName">
                        <input class="input" type="text" placeholder="Password" name="PasswordHash">
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Log In</button>
                    </div>
                </div>
            </form>
            <form name="UserModel" method="POST" action="/Home/RegisterUserPage">             
                <button class="button is-link">Register</button>       
            </form>
        </div>
        
    }
}