@using MovieClient.Models
@model UserModel

@{
    var isLoggedIn = TempData["IsLoggedIn"];
    TempData.Keep("IsLoggedIn");

    if (isLoggedIn != null)
    {
        var name = isLoggedIn.ToString().Split(',').ElementAt(0);
        var id = int.Parse(isLoggedIn.ToString().Split(',').ElementAt(1));
        <p>You are logged in as @name</p>

        <div class="container">
            <form name="UserModel" method="POST" action="/Home/Logout">
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Log Out</button>
                    </div>
                </div>
            </form>
        </div>
    }
    else
    {
        var LoginMsg = TempData["LogginMessage"];
        //<h3>@LoginMsg</h3>
        <h2>Please enter your Username and Password</h2>
        
        <div class="row">
            <div class="col-md-9">
                <form name="UserModel" method="POST" action="/Authentication/Login">
                    <h5 style="color:red">@LoginMsg</h5>
                    <div class="form-group">
                        <input class="form-control" placeholder="Username" name="UserName" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Password" name="PasswordHash" type="password" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="button is-link" />
                    </div>
                </form>
                <form name="UserModel" method="POST" action="/Authentication/RegisterUserPage">
                    <div class="form-group">
                        <input type="submit" value="Register" class="button is-link" />
                    </div>
                </form>
            </div>
        </div>
    }
}