@using MovieClient.Models;

@model  List<MovieModel>
@{
    var Movies = Model;
}
@{

    var user = TempData["IsLoggedIn"];
    TempData.Keep();
    string[] data;
    string UserName="";
    string UserId ="";
    if (user != null)
    {
        data = user.ToString().Split(',');
        UserName = data[0];
        UserId = data[1];
    }
}

<!DOCTYPE html>

<html>
<head>
   
   
</head>
<body>

    <form class="navbar-form navbar-right" method="POST" action="/Movie/WishListSearch">
        <div class="form-group">
            <input type="text" class="form-control" name="SearchRequest" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <h2>@UserName's WishList</h2>
    @if (Movies.Count == 0)
    {
        <h2>Your wishlist is empty.</h2>
    }
    else
    {
        <div class="col-lg-12">
            <div class="row">
                @foreach (var movie in Movies)
                {
                    <div class="col-md-3 list-group-item-success table-bordered form-inline" style="height:150px;">
                        <a href="@Url.Action("MovieDetails", "Movie", movie)">
                            <h2>@movie.Title</h2>
                        </a>
                    </div>
                }
            </div>
        </div>
    }
</body>
</html>
